{% extends 'base.html' %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <h1>👨‍⚕️ Área Médica</h1>

        <p class="login-subtitle">
            Acesso exclusivo para médicos
        </p>

        <form method="POST">

            <div class="form-group">
                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="medico@clinica.com"
                    required>
            </div>

            <div class="form-group">
                <label>Senha</label>

                <input
                    type="password"
                    name="senha"
                    required>
            </div>

            <button class="btn-submit">
                Entrar
            </button>

        </form>

    </div>

</div>

{% endblock %}